body, #root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(29, 29, 29);
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #747171;
  box-shadow: #747171 0px 0px 10px 2px;
  background-color: #1a1919;
  width: 100vw;
  margin-bottom: 50px;
}

.navHeader {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 60vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1919;
  padding: 5vh;
  border-radius: 25px;
  background: #1a1919;
  box-shadow:  37px 37px 35px #121111,
              -37px -37px 35px #222121;
}

.inputContainer, .guessContainer {
  display: flex;
  flex-direction: row;
}

.general-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 80px;
  height: 40px;
  margin: .1vw;
  border:rgb(109, 109, 109) 1px solid;
  color: white;
  user-select: none;
  border-radius: 5px;
  background-color: #242424;
  cursor: pointer;
}

.general-button:hover {
  background-color: #3a3a3a;
}

.general-button:active {
  background-color: #242424;
}

.charContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 40px;
  height: 40px;
  margin: .1vw;
  border:rgb(109, 109, 109) 1px solid;
  color: white;
  user-select: none;
  border-radius: 5px;
}

.default {
  background-color: #242424;
}
.correct {
  background-color: #43b648;
}
.almost {
  background-color: #fdba29;
}

.to-correct {
  animation: to-correct 2.5s ease-in both;
}

.to-almost {
  animation: to-almost 2.5s ease-in both;
}

.to-wrong {
  animation: to-default 2.5s ease-in both;
}


@keyframes to-correct {
  0% {
    background-color: #242424;
  }
  99.9% {
    background-color: #242424;
  }
  100% {
    background-color: #43b648;
  }
}

@keyframes to-almost {
  0% {
    background-color: #242424;
  }
  99.9% {
    background-color: #242424;
  }
  100% {
    background-color: #fdba29;
  }
}

@keyframes to-default {
  0% {
    background-color: #242424;
  }
  99.9% {
    background-color: #242424;
  }
  100% {
    background-color: #0e0e0e;
  }
}


.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.1vh;
}

.keyboard {
  margin-top: 25px;
}


.reveal-correct {
  animation: reveal-correct 0.5s ease-in both;
}

.reveal-almost {
  animation: reveal-almost 0.5s ease-in both;
}

.reveal-default {
  animation: reveal-default 0.5s ease-in both;
}

.horizontal-shake {
  animation: horizontal-shake 0.5s ease-in both;
}

.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: #1a1919;
  border-top: 1px solid #747171;
  box-shadow: #747171 0px 0px 10px 2px;
}

.clock-container {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes reveal-correct {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            background-color: #242424;
  }
  70% {
    background-color: #43b648;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
            background-color: #43b648;
  }
}

@keyframes reveal-almost {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            background-color: #242424;
  }
  70% {
    background-color: #fdba29;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
            background-color: #fdba29;
  }
}


@keyframes reveal-default {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            background-color: #242424;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
            background-color: #242424;
  }
}

@keyframes horizontal-shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}